.side-bar {
  width: 300px;
  &__user-name {
    background-color: #253141;
    height: 100px;
    .top-items {
      height: 100px;
      padding: 0 20px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__name {
        line-height: 20px;
        width: calc( 100%- 60px);
        font-size: 16px;
        font-weight: bold;
      }
      &__icons {
        display: flex;
          li {
            margin-left: 5px;
            a {
              color: $white;
            }
          }      
      }
    }
  }
  &__group-list {
    background-color: #2f3e51;
    height: calc( 100vh - 100px);
    padding: 0 20px;
    color: $white;
    font-weight: bold; 
    .group {
      .group-title {
        padding: 20px 0 5px 0;
        font-size: 15px;
        color: $white;
      }
      .group-last-message {
        padding-bottom: 40px;
        font-size: 11px;
        color: $white;
      }
    }
  }
}