.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        やまだ
      %ul.top-items__icons
        %li.top-items__icons__edit-user
          =link_to "#" do
            = icon('fas', 'edit')
        %li.top-items__icons__new-group
          =link_to "#" do
            =icon('fas', 'cog')
  .side-bar__group-list
    .group
      .group-title
        うぇぇぇぇぇぃ
      .group-last-message